.board-row {
    padding: 5px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.board-column{
    text-align: center;
    flex-direction: column;
}
